/*要素指定*/
h1{
    font-size: large;
    width: max-content;
    background-color: green;
    color: red;
    border: honeydew;
}

.outer{
    border: 5px solid black;
}
.box{
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    transform: rotate(0.8turn);
}

